::-webkit-scrollbar {
  display: none;
}

* {
  user-select: none;
}

/* For Firefox */
* {
  scrollbar-width: none; /* Firefox */
}

/* For Internet Explorer and Edge */
*::-ms-scrollbar {
  display: none; /* IE and Edge */
}
